/*Google Fonts*/
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Variaveis */
:root {
    --primary: #262626;
    --secondary: #FFA133;
    --text-color: #1b1b1b;
    --text-white: #f9f9f9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: var(--primary);
}

#navbar{
    color: var(--secondary);
    display: flex;
    height: 15vh;
    justify-content: space-around;
    align-items: center;
}

#navbar ul{
    display: flex;
}

#navbar ul li{
    list-style-type: none;
    margin-left: 2em;
}

#navbar a{
    color: var(--secondary);
    text-decoration: none;
    font-size: 1em;
}

#navbar a:hover{
    color: white;
    transition: 0.7s;
}

.item-navbar{
    padding: 2em;
}

#redes-sociais-navbar{
    display: flex;
    justify-content: space-between;
}

.icone-navbar{
    width: 2em;
    height: 2em;
    margin: 0 0.5em;
}

.icone-navbar:hover{
    border: 5px var(--primary) solid;
    transition: 0.5s;
}

#logo-navbar a:hover{
    color: #FFF;
}

#mobile-menu-icon, .mobile-menu{
    display: none;
}

/* Inicio Secton */
    /* Carrossel */

#inicio{
    position: relative;
}

.slide{
    min-height: 85vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px 9%;
    padding-bottom: 20px;
}

.contentproje{
    flex: 1 1 450px;
    margin-left: 30px;
}

@keyframes slideContent{0%{
    opacity: 0;
    transform: translateX(-50px);
}}

.contentproje h1{
    margin-bottom: 0.5em;
    font-size: 28pt;
    color: var(--secondary);
    animation: slideContent 0.8s linear 0.8s backwards;
}

.contentproje h2{
    font-size: 1.5em;
    font-weight: 300;
    color: var(--text-white);
    width: 70%;
    height: 10%;
    animation: slideContent 0.6s linear 0.6s backwards;
}

.btnproj{
    margin-top: 10px;
    display: inline-block;
    background-color: var(--secondary);
    color: var(--text-white);
    font-size: 1em;
    padding: 9px;
    border-radius: 5px;
    text-decoration: none;
    animation: slideContent .4s linear .4s backwards;
}

.btnproj:hover{
    background-color: var(--text-white);
    color: var(--secondary);
}

.slide-container{
    display: none;
}

.slide-container.active{
    display: block;
}

.slide-container:nth-child(1) .slide{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('Landing-Page-Concurso/img/pexels-burak-the-weekender-45072.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.slide-container:nth-child(2) .slide{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('Landing-Page-Concurso/img/close-up-image-of-programer-working-at-his-desk-in-office.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.slide-container:nth-child(3) .slide{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('Landing-Page-Concurso/img/pexels-magnus-mueller-2818118.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#prev,#next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-white);
    background-color: var(--secondary);
    width: 50px;
    line-height: 50px;
    font-size: 1.5em;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 50%;
}

#prev:hover,#next:hover{
    background-color: var(--primary);
    color: var(--secondary);
}

#prev{
    left: 20px;
}

#next{
    right: 20px;
}

/* Quem somos Section */



/* Serviços Section*/
#servicos{
    width: 100%;
    background-color: var(--primary);
    color: var(--text-white);
    font-weight: 300;
}

#servicos h1{
    color: var(--text-white);
    font-size: 28pt;
    font-weight: 200;
    padding: 0.5em 0.5em;
    text-align: center;
}

.titulo-servicos{
    color: var(--secondary);
    font-weight: 100;
    font-size: 2em;
    text-align: center;
    padding: 20px 0 20px 0;
}

.container-servicos{
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* gap: 35px; */
}

.servico{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 2px;
    height: 300px;
    min-width: 300px;
    width: 30%;
    text-align: center;
}

.servico h2{
    font-size: 18pt;
    font-weight: 300;
    color: var(--secondary);
    margin-bottom: 0.3em;
}

#sites{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('Landing-Page-Concurso/img/close-up-image-of-programer-working-at-his-desk-in-office.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.imagem-servico{
    width: 120px;
    height: 120px;
    background-color: var(--secondary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-servico img{
    height: 80px;
    width: 80px;
}


/* Equipe Section */
#equipe{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('Landing-Page-Concurso/img/programacao-background.jpg');
    background-size: cover;
    background-position: center;
    padding: 40px 0;
}

#equipe h1{
    text-align: center;
    font-size: 2em;
    font-weight: 100;
    margin-bottom: 20px;
    color: var(--secondary);
}

#equipe h2{
    color: var(--text-white);
    text-align: center;
    font-size: 1.2em;
    font-weight: 300;
    padding: 10px 50px;
}


#integrantes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}

.card-integrante{
    position: absolute;
    background-color: var(--primary);
    width: 250px;
    min-height: 400px;
    padding: 10px;
    border-radius: 25px;
    right: 20px;
    bottom: 20px;
    text-align: center;
    color: var(--text-white);
}

.card-integrante:hover{
    right: 0px;
    bottom: 0px;
    transition: 0.7s;
}

.card-sombra{
    background-color: rgba(255,161,51,0.8);
    position: relative;
    width: 250px;
    height: 400px;
    border-radius: 25px;
    margin-top: 65px;
    opacity: 0.8;
}

.perfil img{
    width: 180px;
    height: 180px;
    position: absolute;
    top: -40px;
    right: 32px;
    border: var(--text-white) 10px solid;
    border-radius: 50%;
}

.texto-integrante{
    position: absolute;
    top: 150px;
}

.texto-integrante h3, .texto-integrante h4, .texto-integrante p{
    text-align: center;
    padding: 7px;
}

.texto-integrante {
    font-size: 20pt;
    font-weight: 700;
}

.texto-integrante h4{
    font-size: 16pt;
    font-weight: 500;
}

.texto-integrante p{
    font-size: 12pt;
    font-weight: 300;
}

/* Contato */

#contato{
    background-color: var(--primary);
    padding-top: 50px;
    height: 100vh;
}

#titulo-contato{
    color: var(--text-white);
    font-size: 1.5em;
    font-weight: 100;
    text-align: center;
    padding: 0px 50px;
}

#container-contato{
    padding: 2em 1em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

#container-contato h1{
    color: var(--text-white);
    font-size: 28pt;
    font-weight: bold;
    padding: 0.5em 0;
}

#entre-em-contato img{
    width: 25em;
}

#form-contato{
    display: flex;
    flex-direction: column;
    min-width: 50%;
}

.form-campo{
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 1000px; */
}

.form-label{
    color: var(--text-white);
    font-size: 14pt;
    font-weight: 400;
    margin-bottom: 0.5em;
}

.form-input{
    border: none;
    border-radius: 5px;
    height: 40px;
}

#btn-contato{
    background-color: #FFA133;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: var(--text-white);
    font-size: 14pt;
    font-weight: bold;
    align-self: center;
}

#btn-contato:hover{
    opacity: 0.6;
}

/* Footer */
#footer{
    background-color: var(--primary);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 30px;
    border-width: 90%;
}

#footer h2{
    font-size: 1.5em;
    font-weight: 300;
    color: var(--text-white);
}

.footer-item{
    width: 300px;
    padding: 1em 5em;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.footer-item ul{
    display: flex;
}

.footer-item ul li{
    list-style-type: none;
    padding-top: 1em;
}

.footer-item ul li a{
    text-decoration: none;
    color: var(--secondary);
}

#mapa-do-site{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 720px) {
    #menu-navbar{
        display: none;
    }

    #mobile-menu-icon{
        display: block;
    }

    #mobile-menu-icon button{
        background-color: transparent;
        border: none;
    }

    #icone-menu{
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
    .mobile-menu{
        display: none;
    }

    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .list-item{
        display: block;
        padding-top: 1.2rem;
    }

    #menu-navbar-mobile{
        background-color: var(--primary);
    }

    #menu-navbar-mobile ul li a{
        text-decoration: none;
        color: var(--secondary);
    }

    .open{
        display: block;
    }

    /* Contato */

    #contato{
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #form-contato{
        width: 90%;
    }

    #form-contato h1{
        text-align: center;
    }

}

@media screen and (max-width: 450px) {
    
    #navbar{
        padding: 1.5rem 1rem;
        justify-content: space-between;
    }

    #redes-sociais-navbar{
        display: none;
    }

    /* Inicio */
        /* Carrossel */
    #prev{
        top: 60%;
        left: 0;
    }

    #next{
        top: 60%;
        right: 0;
    }

    .contentproje h2{
        color: var(--text-white);
        font-size: 1em;
        width: 70%;
        height: 10%;
    }
    
    /* Quem somos Section */

    #info-quem-somos{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 2em 2em;
        align-items: center;
    }

    #texto-quem-somos{
        width: 100%;
        padding: 0;
    }

    /* Equipe */

    /* Contato */
    #entre-em-contato img{
        display: none;
    }

    #titulo-contato{
        font-size: 1.2em;
        padding: 10px;
    }
    
}

