/*Google Fonts*/
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Noto-Sans */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



/* Variaveis */
:root {
    --primary: #262626;
    --secondary: #FFA133;
    --text-color: #1d1b1b;
    --text-orange: #FFA133;
    --text-white: #f9f9f9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: var(--primary);
    background-repeat: no-repeat;
}

#navbar{
    color: var(--text-orange);
    display: flex;
    height: 15vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem 6rem;
    
}

#navbar ul{
    display: flex;
    flex-direction: row;
}

#navbar ul li{
    list-style-type: none;
    margin-left: 2em;
}

#navbar a{
    color: var(--text-orange);
    text-decoration: none;
    font-size: 1em;
}

#navbar a:hover{
    color: white;
    transition: 0.7s;
}

.item-navbar{
    padding: 2em;
}

#redes-sociais-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icone-navbar{
    width: 2em;
    height: 2em;
    margin: 0 0.5em;
}

.icone-navbar:hover{
    border: 5px var(--primary) solid;
    transition: 0.5s;
}

#logo-navbar a:hover{
    color: #FFF;
}

#mobile-menu-icon, .mobile-menu{
    display: none;
}

/* Inicio Secton */
    /* Carrossel */

#inicio{
    position: relative;
}

.slide{
    min-height: 75vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px 9%;
    padding-bottom: 20px;
}

.contentproje{
    flex: 1 1 350px;
}

@keyframes slideContent{0%{
    opacity: 0;
    transform: translateX(-50px);
}}

.contentproje h1{
    margin-bottom: 0.5em;
    font-size: 3em;
    color: var(--secondary);
    font-family: 'Noto Sans', sans-serif;
    animation: slideContent 0.8s linear 0.8s backwards;
}

.contentproje p{
    font-size: 1em;
    color: var(--text-white);
    width: 40%;
    height: 10%;
    animation: slideContent 0.6s linear 0.6s backwards;
}

.btnproj{
    margin-top: 10px;
    display: inline-block;
    background-color: var(--secondary);
    color: var(--text-white);
    font-size: 1em;
    padding: 9px;
    border-radius: 5px;
    text-decoration: none;
    animation: slideContent .4s linear .4s backwards;
}

.btnproj:hover{
    background-color: var(--text-white);
    color: var(--secondary);
}

.slide-container{
    display: none;
}

.slide-container.active{
    display: block;
}

.slide-container:nth-child(1) .slide{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('/Landing-Page-Concurso/assets/img/pexels-burak-the-weekender-45072.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.slide-container:nth-child(2) .slide{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('/Landing-Page-Concurso/assets/img/pexels-cottonbro-6153739.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.slide-container:nth-child(3) .slide{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('/Landing-Page-Concurso/assets/img/pexels-dani-muchow-2955704.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#prev,#next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-white);
    background-color: var(--secondary);
    width: 50px;
    line-height: 50px;
    font-size: 1.5em;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 50%;
}

#prev:hover,#next:hover{
    background-color: var(--primary);
    color: var(--secondary);
}

#prev{
    left: 20px;
}

#next{
    right: 20px;
}

/* Quem somos Section */

#quem-somos{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    background-color: var(--secondary);
}

#info-quem-somos{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 400px;
    padding: 2em 5em;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#texto-quem-somos{
    width: 60%;
    /* position: absolute; */
}

#texto-quem-somos h1{
    font-size: 3em;
    font-weight: 200;
    color: var(--primary);
    margin-bottom: 0.3em;
    border-bottom: 2px solid var(--secondary);
}

#texto-quem-somos p{
    color: var(--primary);
    font-size: 1em;
}

#elipses-quem-somos{
    width: 40%;
    height: 400px;
}

#elipse-1{
    position: absolute;
    background-color: var(--text-white);
    border-radius: 50%;
    height: 150px;
    width: 150px;
    right: 16em;
    bottom: 9em;
}

#elipse-2{
    position: absolute;
    background-color: var(--primary);
    border-radius: 50%;
    height: 180px;
    width: 180px;
    right: 18em;
    bottom: 2em;
}

#imagem-quem-somos{
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    bottom: 2em;
    right: 2em;
}

/* Serviços Section*/

#servicos{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: var(--primary);
}

#servicos h1{
    color: var(--text-orange);
    font-size: 2.5em;
    font-weight: 200;
    padding: 0.5em 0.5em;
    text-align: center;
}

.servico{
    display: flex;
    flex-direction: row;
    height: auto;
    padding: 3em;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    
}

.servico h2{
    font-size: 2em;
    color: var(--secondary);
    margin-bottom: 0.3em;
}

.servico p{
    color: var(--text-white);
    font-size: 1em;
}

.texto-servico{
    width: 60%;
}

.imagem-servico{
    border-radius: 50%;
    display: flex;
    width: 200px;
    height: 200px;
    background: var(--secondary);
    justify-content: center;
    align-items: center;
}

.imagem-servico img{
    height: 120px;
    width: 120px;
}

/* Equipe Section */

#equipe{
    background-color: var(--primary);
    border-top: 2px solid var(--primary);
    padding-top: 3em;    
}

#equipe h1{
    text-align: center;
    font-size: 3em;
    font-weight: 200;
    color: var(--text-orange);
    padding: 1em;
}

#integrantes{
    position: relative;
    display: flex;
    flex-direction: row;
    padding-top: 2em;
    justify-content: space-around;
    height: 600px;
}

.cards{
    position: absolute;
    border-radius: 25px;
    padding: 1em;
    width: 20%;
    height: 400px;
}

.cards.integrante{
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards.cards.integrante h3{
    color: var(--primary);
    font-size: 1.6em;
    text-align: center;
    font-weight: bold;
}

.cards.cards.integrante h4{
    color: var(--primary);
    font-size: 1.2em;
    text-align: center;
    font-weight: 500;
}

.cards.integrante p{
    color: var(--primary); 
    margin-top: 0.5em;
    font-size: 1em;
    text-align: center;
    font-weight: 400;
}

.cards.borda{
    background-color: var(--text-white);
}

#pedro{
    top: 13%;
    left: 13%;
    z-index: 2;
}

#pedro img{
    position: absolute;
    top: -22%;
    right: 10%;
    border: 10px solid var(--primary);
    border-radius: 50%;
}

#marcos{
    top: 13%;
    right: 13%;
    z-index: 2;
}

#marcos img{
    position: absolute;
    top: -22%;
    right: 10%;
    border: 10px solid var(--primary);
    border-radius: 50%;
}

#odivan{
    top: 20%;
    z-index: 2;
}

#odivan img{
    position: absolute;
    top: -22%;
    right: 10%;
    border: 10px solid var(--primary);
    border-radius: 50%;
}

#borda-1{
    top: 16%;
    /* bottom: 10.5%; */
    left: 14.5%;
    z-index: 1;
}

#borda-2{
    top: 23%;
    left: 41.5%;
    z-index: 1;
}

#borda-3{
    top: 16%;
    right: 11.5%;
    z-index: 1;
}

@media screen and (max-width: 450px) {
    
    #navbar{
        padding: 1.5rem 1rem;
        justify-content: space-between;
    }

    #menu-navbar{
        display: none;
    }

    #redes-sociais-navbar{
        display: none;
    }

    #mobile-menu-icon{
        display: block;
    }

    #mobile-menu-icon button{
        background-color: transparent;
        border: none;
    }

    #icone-menu{
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    .mobile-menu{
        display: none;
    }

    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .list-item{
        display: block;
        padding-top: 1.2rem;
    }

    #menu-navbar-mobile{
        background-color: var(--primary);
    }

    #menu-navbar-mobile ul li a{
        text-decoration: none;
        color: var(--secondary);
    }

    .open{
        display: block;
    }


    /* Inicio */
        /* Carrossel */
    #prev{
        top: 60%;
        left: 0;
    }

    #next{
        top: 60%;
        right: 0;
    }

    .contentproje{
        padding-left: 3em;
    }

    .contentproje p{
        font-size: 1em;
        width: 70%;
        height: 10%;
    }
    
    /* Quem somos Section */

    #info-quem-somos{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 2em 2em;
        align-items: center;
    }

    #texto-quem-somos{
        width: 100%;
        padding: 0;
    }

    #elipses-quem-somos{
        width: 100%;
    }

    #imagem-quem-somos{
        display: none;
    }

    #elipse-1{
        display: none;
    }

    #elipse-2{
        display: none;
    }

    .servico{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1em 3em;
    }

    .texto-servico{
        width: 100%;
        margin-top: 2em;
        order: 2;
    }

    .imagem-servico{
        order: 1;
    }

    .imagem-servico{
        width: 150px;
        height: 150px;
    }

    .imagem-servico img{
        width: 100px;
        height: 100px;
    }

    /* Equipe */

    #integrantes{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        height: 1400px;
    }

    .cards.integrante, .cards.borda{
        width: 70%;
    }

    .cards.cards.integrante{
        position: static;
        padding-top: 10em;
    }

    .cards.borda{
        position: absolute;
    } 

    #pedro img{
        position: absolute;
        top: 2%;
        right: 20%;
    }

    #odivan img{
        top: 67%;
        right: 20%;
    }

    #marcos img{
        top: 35%;
        right: 20%;
    }

    #borda-1{
        top: 5.5%;
        left: 18.5%;   
        z-index: 1;
    }
    
    #borda-2{
        top: 38.0%;
        left: 18.5%;
        z-index: 1;
    }
    
    #borda-3{
        top: 71%;
        right: 11.5%;
        z-index: 1;
    }

}

